[Unit]
Description=Service for oracle asm telemetry client
After=network-online.target

[Service]
Type=simple
Environment="DATA_SOURCE_NAME=asmsnmp/password@//host:1521/+ASM?as=sysdba"
Environment="LD_LIBRARY_PATH=/u01/app/oracle/product/19.0.0/dbhome_1/lib"
Environment="ORACLE_HOME=/u01/app/oracle/product/19.0.0/dbhome_1"
User=oracledb_exporter
Group=oracledb_exporter
ExecStart=/usr/local/bin/oracledb_exporter \
  --default.metrics "/etc/oracledb_exporter/default-asm-metrics.toml" \
  --log.level "error" \
  --web.listen-address 0.0.0.0:9163 \
  --log.format "logger:syslog?appname=oracleasm_exporter&local=7"

KillMode=process
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
